<section id="dashboard" [ngClass]="pageLoaded ? 'loaded': ''" >
  <div class="container-fluid">
    <div gridStack w="12" animate="true">
      <div class="card" gridStackItem x="0" y="0" w="6" h="3">
        <h5 class="card-header bg-1">Financial Times</h5>
        <div class="card-body">
          <h5 class="card-title">Europe joins Asia rally on US-China trade hopes</h5>
          <p class="card-text">Morbi at vestibulum lorem. Ut a sollicitudin dui. Suspendisse eget convallis orci. Cras
            faucibus eget lorem vulputate interdum. Pellentesque sed hendrerit magna. In placerat erat et risus
            volutpat venenatis. Nunc aliquam blandit dignissim. Donec interdum fringilla dolor vehicula rhoncus.

            Etiam sollicitudin eu leo eget tempor. Donec eget pretium dui. Suspendisse pellentesque sed lectus sagittis
            suscipit. Donec tempor tincidunt aliquet. Vestibulum blandit tortor lorem. Proin risus tortor, ultrices
            vitae tempor vitae, placerat in nisl. Aliquam elementum et risus nec gravida.</p>
        </div>
      </div>
      <div class="card" gridStackItem x="0" y="3" w="3" h="3">
        <h5 class="card-header bg-2">International Business Times</h5>
        <div class="card-body">
          <h5 class="card-title">Wages Keep Growing For American Workers
          </h5>
          <p class="card-text">Sed ac dolor nulla. Maecenas in posuere dui, volutpat convallis ligula. Morbi convallis
            felis sed felis molestie, eget dignissim sapien consequat. Sed pharetra augue tortor, eleifend laoreet erat
            pulvinar sed. Nam sed pellentesque quam. In sed mattis arcu, sit amet tristique augue.

            Aliquam erat
            volutpat. Duis dapibus posuere suscipit. Quisque tempor massa et lectus vehicula blandit. In consectetur,
            risus porta facilisis finibus, neque lacus dictum neque, nec suscipit enim risus a enim. Curabitur commodo
            orci dui, ac maximus ipsum elementum eget.</p>
        </div>
      </div>
      <div class="card" gridStackItem x="3" y="3" w="3" h="3">
        <h5 class="card-header bg-3">The Wall Street Journal</h5>
        <div class="card-body">
          <h5 class="card-title">Ford, VW Explore Venture to Challenge Tesla, Waymo</h5>
          <p class="card-text">Nunc odio odio, pharetra eget dui ac, feugiat feugiat neque. Curabitur pretium purus
            libero. Aliquam est leo, venenatis vel nisl ut, faucibus euismod erat. Ut id egestas arcu. Nam sit amet
            aliquet risus. Morbi ac metus eget nulla euismod malesuada. Fusce scelerisque tincidunt lorem vel molestie.
            Nam at elit augue. Morbi eu ullamcorper lacus. Fusce eleifend velit quis enim blandit fringilla. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.

            Curabitur sit amet lacus pellentesque, ullamcorper libero eu, lacinia est. Cras hendrerit dolor sit amet
            turpis blandit, non sagittis turpis vestibulum. Curabitur tincidunt vulputate tincidunt. Sed viverra nisi
            non mattis dictum. Curabitur non efficitur ante. Curabitur vitae nisl dignissim, suscipit dolor id,
            malesuada odio. Aliquam porttitor ante dolor. Ut eget ipsum condimentum, ornare orci et, mollis purus.
            Nullam commodo nunc est, ac bibendum ex tristique a. Nunc nibh lacus, semper vel est eget, facilisis cursus
            nulla. Cras gravida nunc sed metus auctor consectetur.</p>
        </div>
      </div>
      <div id="svgcontainer" class="card" gridStackItem x="6" y="0" w="5" h="5"></div>


    </div>
  </div>
</section>
